{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Add Items{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
</head>
{% if user.is_authenticated %}
    <div class="header">
        <a href="{% url 'home' %}" class="logo">Hi {{ user.username }}!</a>
        <div class="header-right">
            <a href="{% url 'home' %}" class="tab">Home</a>
            <a href="{% url 'chat_view' %}" class="tab">Messages</a>
            <a href="{% url 'add_view'%}" class="tab">Add Item</a>
            <a href="{%url 'add_complaint' %}" class="tab">Complaint</a>
            <a href="{%url 'logout' %}" class="tab">Logout</a>
        </div>
    </div>
<form enctype="multipart/form-data" action="{% url 'add_view' %}" method="POST">
    {% csrf_token %}
    <div style="margin-right:300px; margin-left:300px; font-weight:bold">
    <!---<table style = "border:1" >-->
        {{ form | crispy }}
    <!--</table>--> 
    </div>   
    <div class="input-group-btn" style="overflow: hidden; padding-right: .5em;">
        <input class = "btn btn-primary mb-2" type="submit" value="Submit">
    </div>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >
    $(document).ready(function(){
        //$("#id_sell_name").css('background-color', '#D3D3D3');
        $("#id_sell_post_date").css('background-color', '#D3D3D3');
        //$("#id_sell_username").css('background-color', '#D3D3D3');
        //$("#id_sell_mail").css('background-color', '#D3D3D3');
    });
</script> 
{% endif %}
{% endblock %}